
html, body {
overflow-x: hidden;
}


body {
color: grey;
font-size: 17px;
font-family: Raleway , Arial ;
}

.focus {
margin-left: 5px;
margin-right: 5px;
}

/*con questa classe blocco la testatina comprendente il logo*/
.logo{
display: block;
margin-left: auto;
margin-right: auto;
}


/*inizio sezione bottoni call to action homepage*/
/*blocco div immagini bottone a inizio sito*/
#images{
text-align:center;
margin-top: 40px;
}


img.botton {
margin: 10px 10px;
display: inline-block;
margin-left: auto;
margin-right: auto;
}

img.botton { 
opacity: 1; filter: alpha(opacity=100); 
} 


img.botton:hover { 
opacity: 0.3; filter: alpha(opacity=30); 
}
/* fine sezione bottoni call to action */


/*blocco div immagini bottone prima del modulo contatti*/
.images{
text-align:center;
margin-top: 40px;
}


/*instruzioni per linea di separazione orizzontale*/
.linea {
margin-left: auto;
margin-right: auto;
width: 30%;
}


#wrapper{
width:100%;
height:auto;
background-color: white;
}
/*l'altezza dell'immagine inserita in testata è della
stessa altezza della sezione "wrapper.
per aumentare o diminuire la distanza tra l'h1
sotto l'immagine ed il primo h2 delle vaie pag. intervengo
sul wrapper - vedi QUERY MULTIMEDIALI*/



#container {

height: auto;
max-width:1870px;
/* se inserisco "auto", relativamente a "width" ed a "height" la larghezza e
l'altezza dell'area del contenuto viene decisa dal browser in automatico */
margin: 1.25em auto; /*1.25em = 20px*/
/* primo valore: marg. sup. + inf.; secondo valore: marg. sin. + dest.(auto)
per far si che la pag. sia centrata orizzontalmente nel browser*/
padding: 0.625em 0.625em 0em 0.625em;
}
/*il padding è assegnato in senso orario: alto, des, sin, basso */


img {
  max-width: 100%;
  max-height: 10%;
}


/*anche le immagini sono "fluide" con il valore in %*/
img.displayed {
display: block;
margin-left: auto;
margin-right: auto;
}
/*con questa classe blocco l'immagine di testata*/


/*se voglio posizionare le immagini della pagina a sinistra
img.left {
max-width: 100%;    
float: left;
margin: 10px 10px 10px 10px;
}
*/
    

/*SPECIFICHE MENU' NAVIGAZIONE*/
.topnav {
  overflow: hidden;
  background-color: #EEEEEE;
  margin-bottom: 20px;
  
}

.topnav a {
  float: right;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  
  margin-right:30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #00aeef;
  color: black;
 
}

.topnav .icon {
  display: none;
}
/*FINE SPECIFICHE MENU' NAVIGAZIONE*/


/*contento giocare sulla percentuale per allargare o stringere
l'area del contenuto. Il "content" è il 90% del 100% che è il container*/
#content {
width: 90%;
margin: 0 auto;
padding-top:10px;
height: auto;
}


/*contento giocare sulla percentuale per allargare o stringere
l'area del contenuto. l'"inner content" è IL 70% DEL 100% che è il container*/
#innerContent {
width: 70%;
padding-top:10px;
margin: 0 auto;
padding-top:10px;
height: auto;
text-align: justify;
}
/*fine per larghezza contenuto*/

#footer {
text-align: center;
color:white;
clear: both;
margin-top: 1.25em;
}

/*footer*/

#footer-wrapper{
width:100%;
height:150px;
background-color:#00aeef;
}

