<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="login" >
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
        </script>
        <script src="loginController.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >       
        <link rel="stylesheet" type="text/css" href="Style/mainStyle.css">
    </head>
    <body ng-controller ="loginController">
        <header><h1>Login Paged3d</h1></header>
        <article>
            <div class ="login">
                <form action ="Main" method="POST">
                    <div class ="input-field">
                        <input type ="text" id="name"
                               ng-model="user" placeholder="&#xf007"
                               required  
                               ng-blur ="ajaxCheckUser()" onchange="try {
                                                   setCustomValidity('');
                                               } catch (e) {
                                               }"
                               onkeydown="try {
                                                   setCustomValidity('');
                                               } catch (e) {
                                               }"
                               />
                    </div>
                    <div class ="input-field">
                        <input type ="password" id = "password" 
                               placeholder="&#xf023" required
                               ng-model="password"
                               onchange="try {
                                                   setCustomValidity('');
                                               } catch (e) {
                                               }"
                               onkeydown="try {
                                                   setCustomValidity('');
                                               } catch (e) {
                                               }"/>
                    </div>
                    <div class ="button">
                        <input type ="hidden" name ="action" value ="login"/>
                        <input type ="button" value ="Login!" ng-click="login()" />
                    </div> 
                </form>
            </div>
        </article>
    </body>
</html>
